# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

* TensorFlow
* NumPy
* Scipy

|Data Science Tools |
| ------|
| Apache |
| Matlab |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5

17

In [9]:
##### This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

#### Objectives:
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

## Author
#### Juan Camilo Pi√±a